ResourceState(
  schema_version: 2,
  name: "users",
  fields: {
    "created_at": FieldState(
      sql_type: "int8",
      variants: [
        Db,
        Public,
        Admin,
      ],
      nullable: false,
      primary_key: false,
      validators: [],
    ),
    "deleted_at": FieldState(
      sql_type: "int8",
      variants: [
        Db,
        Admin,
      ],
      nullable: true,
      primary_key: false,
      validators: [],
    ),
    "email": FieldState(
      sql_type: "text",
      variants: [
        Db,
        Insertable,
        Patch,
        Public,
        Admin,
      ],
      nullable: false,
      primary_key: false,
      validators: [],
    ),
    "id": FieldState(
      sql_type: "int8",
      variants: [
        Db,
        Public,
        Admin,
      ],
      nullable: false,
      primary_key: true,
      validators: [],
    ),
    "password_hash": FieldState(
      sql_type: "text",
      variants: [
        Db,
        Insertable,
        Patch,
        Admin,
      ],
      nullable: false,
      primary_key: false,
      validators: [],
    ),
    "role": FieldState(
      sql_type: "text",
      variants: [
        Db,
        Insertable,
        Patch,
        Public,
        Admin,
      ],
      nullable: false,
      primary_key: false,
      validators: [],
    ),
    "updated_at": FieldState(
      sql_type: "int8",
      variants: [
        Db,
        Admin,
      ],
      nullable: false,
      primary_key: false,
      validators: [],
    ),
  },
  verbs: {
    List: VerbState(
      auth: AdminOnly,
      list_options: Some(ListOptions(
        paginated: true,
        filterable_columns: {
          "created_at": Range,
          "email": IlikeContains,
          "role": Eq,
        },
        sortable_columns: [
          "created_at",
          "email",
          "id",
        ],
        default_sort: Some("id"),
        max_page_size: Some(100),
      )),
    ),
    Get: VerbState(
      auth: AdminOnly,
      list_options: None,
    ),
    Create: VerbState(
      auth: AdminOnly,
      list_options: None,
    ),
    Update: VerbState(
      auth: AdminOnly,
      list_options: None,
    ),
    Delete: VerbState(
      auth: AdminOnly,
      list_options: None,
    ),
  },
  ws_events: None,
  singular_override: Some("User"),
  soft_delete: Some(SoftDeleteConfig(
    column: "deleted_at",
    default_behavior: ExcludeDeleted,
  )),
  relations: {},
)
