.select {
    display: inline-block;
    padding: var(--app-space-xs) var(--app-space-sm);
    border-radius: var(--app-radius-sm);
    border: 0.0625rem solid var(--app-color-fg);
    background: var(--app-color-bg);
    color: var(--app-color-fg);
    font-size: var(--app-fs-md);
    line-height: 1.2;
}

.option {
    color: var(--app-color-fg);
    font-size: var(--app-fs-md);
}

.empty {
    padding: var(--app-space-md);
    color: var(--app-color-fg);
    opacity: 0.7;
    font-size: var(--app-fs-sm);
    font-style: italic;
}
